<!DOCTYPE html>

{# Django 템플릿 한줄 주석#}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Variables / Filters</h1>
    <h2>Variable</h2>
    {# render() 호출 시 전달된 context 값 이용 가능 #}
    <p>My name is {{ name }}</p>
    <p>age: {{ age }}</p>
    <p>fruits: {{ fruits }}</p>
    <p>fruits.0: {{ fruits.0 }}</p>


    <p>{{ name|upper }}</p>
    <p>{{ age|add:1 }}</p>
    <p>{{ age|add:num|add:5 }}</p>
    <p>{{ today|date:"Y/m/d (D) A h:i:s" }}</p>

    {% now "Y" as current_year %}
    <p>올해는 {{ current_year }}년이다.</p>

    {% with username='gogd' x=1234 %}
      <p>{{ username }} / {{ x }}</p>
    {% endwith %}

    <p>블록 밖: {{ username }} / {{ x }}</p>
</body>
</html>